@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Caveat');

//colors
$color-extra-lightgreen:#F0F7D4;
$color-lightgreen:#B2D732;
$color-green:#66B032;
$color-blue:#347B98;
$color-darkblue:#092834;


//fonts
$font-primary: 'Fira Sans Condensed', sans-serif;
$font-secondary: 'Caveat', cursive;